<%= link_to "See all teachers", teachers_path, class: 'mb-4' %> <br>
<%= link_to "Add a new request", new_request_path, class: 'btn btn-info mb-4' %> <br>

<h2>Requests</h2>
<hr>
<% if @requests.count == 0 %>
  <p>No requests registered yet</p>
<% else %>
  <ul>
    <% @requests.each do |request| %>
      <li>
        <%= link_to "#{request.client_name}'s request", request_path(request) %>
        <%= link_to "âœ", edit_request_path(request, edit_request: 'edit') %>
        <%= link_to "â“§", request_path(request), method: :delete, data: { confirm: 'Sure?' }, remote: true %>
      </li>
    <% end %>
  </ul>
<% end %>
