<%= link_to "See all requests", requests_path, class: 'mb-4' %> <br>

<%= simple_form_for(@request) do |f| %>
  <h3>New request</h3>
  <%= f.input :client_name %>
  <%= f.input :field, collection: @fields %>
  <%= f.input :level, collection: @levels %>
  <%= f.input :price_per_hour, input_html: { min: 0 } %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
