<%= link_to "See all requests", requests_path, class: 'mb-4' %> <br>
<%= link_to "Add a new teacher", new_teacher_path, class: 'btn btn-danger mb-4' %>

<% if @teachers.count == 0 %>
  <p>No teachers registered yet</p>
<% else %>
  <h2>Teachers</h2>
  <hr>
  <% @teachers.each do |teacher| %>
    <h4 style="display: inline;"><%= teacher.first_name.capitalize %> <%= teacher.last_name.capitalize %></h4> <%= link_to "🗑", teacher_path(teacher), method: :delete, data: { confirm: 'Sure?'}, remote: true %>

    <div class="skills m-3">
      <h5>Skills :</h5>
      <% skills = Skill.where(teacher: teacher) %>
      <% skills.each do |skill| %>
        <div class="skill-unit mx-3">
          <span><%= skill.field.name.capitalize %> - Grade : <%= skill.level.grade %> (<%= skill.level.cycle %> cycle)</span> <br>
        </div>
      <% end %>
    </div>
    <hr>
  <% end %>
<% end %>

