<%= link_to "Add a new teacher", new_teacher_path, class: 'btn btn-danger mb-4' %> <br>

<% if @teachers.count == 0 %>
  <p>No teachers registered yet</p>
<% else %>
  <% @teachers.each do |teacher| %>
    <h2 style="display: inline;"><%= teacher.first_name.capitalize %> <%= teacher.last_name.capitalize %></h2> <%= link_to "🗑", teacher_path(teacher), method: :delete, data: { confirm: 'Sure?'} %>

    <div class="skills m-3">
      <h4>Skills :</h4>
      <% skills = Skill.where(teacher: teacher) %>
      <% skills.each do |skill| %>
        <div class="skill-unit mx-3">
          <span><%= skill.field.name.capitalize %> - Grade : <%= skill.level.grade %> (<%= skill.level.cycle %> cycle)</span> <br>
        </div>
      <% end %>
    </div>

  <% end %>
<% end %>
